<div class= "container">

  <%= link_to :back do %>
    <p class="btn btn-light mt-2"> < </p>
  <% end %>

  <br>

  <div class="row">

    <div class="col-4 movie-poster-show">
      <%= image_tag @movie.poster, width: "100%" %>
    </div>

    <div id="movie-infos" class="col-8">

      <h3 class="movie-title"><%= @movie.title.upcase.truncate(20) %></h3>

        <ul class="no-bullets spacing">
          <div class="movie-d-y">
            <div class="movie-directors">
              <%= @movie.directors %>
            <%# @movie.directors.each do |director| %>
                <%# <p id="director-name"><%= director.first_name = director.last_name</p>  %>
            <%# end %>
            </div>
            <p id="year-category"><%= @movie.year %> • <%= @movie.category %></p>
          </div>
          <%= @movie.actors %>
          <!-- <p id="casting"><%= @actor_list %></p> -->
        </ul>

        <% if @current_save_item %>
          <div class="ratings">
                <%# <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star rating-color"></i> %>
                <%=  @current_save_item.rating %>
          </div>
        <% end %>


        <button type="button" id="more-infos-button" data-bs-toggle="modal" data-bs-target="#menuModal">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <!-- <div id="more-infos-button">
          <i class="fa-solid fa-ellipsis"></i>
        </div> -->

      </div>
      <div class="synopsis">
        <%= @movie.synopsis %>
      </div>
    </div>

    <div class="screening-infos">
      <%# if @screenings.present? %>
        <%# @screenings.each do |screening| %>
          <div>
            <h5>Cinéma du Parc</h5> <!-- Enter code with cinema name -->

            <div class="screening-time">
              <p>Friday, December 15, (English subtitles)</p> <!-- Enter date time + version -->
              <div>
                <ul class="time">
                  <li class="box">4:00PM</li>
                  <li class="box">6:00PM</li>
                  <li class="box">8:00PM</li>
                </ul>
              </div>
            </div>
          </div>
        <%# end %>
      <%# end %>
    </div>
  </div>

  <!--
  <% if @current_save_item %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
    <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
   <% else %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
  <% end %>
  -->

  <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="buttonLabel" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content animate-bottom">


          <% if @current_save_item %>
            <div class="modal-body">
              <div id="modal-watchlist-history">
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
              </div>
              <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>

              <div id="separation"></div>

              <div id="modal-notif">
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
              </div>

              <div id="separation"></div>

              <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
            </div>
          <% else %>
            <div class="modal-body modal-new">
              <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
              <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
            </div>
          <% end %>

      </div>
    </div>
  </div>

</div>
