<div class= "container">

  <%=link_to '<', movies_path, class:"btn btn-light mt-2"%>
  <br><br>

  <div class="row">

    <div class="col-4 padding-right-0">
      <%= image_tag @movie.poster, width: 100 %>
    </div>

    <div id="movie-infos" class="col-8">

      <h3 class="movie-title"><%= @movie.title.upcase.truncate(20) %></h3>

        <ul class="no-bullets spacing">
          <div class="movie-d-y">
            <div class="movie-directors">
            <% @movie.directors.each do |director| %>
                <p id="director-name"><%= director.first_name%> <%= director.last_name%></p id="director-name">
            <% end %>
            </div>
            <p id="year-category"><%= @movie.year %> • <%= @movie.category %></p>
          </div>
          <p id="casting"><%= @actor_list %></p>
        </ul>

        <div class="ratings">
              <i class="fa fa-star "></i>
              <i class="fa fa-star "></i>
              <i class="fa fa-star "></i>
              <i class="fa fa-star "></i>
              <i class="fa fa-star rating-color"></i>
        </div>

      </div>
      <div class="synopsis">
        <%= @movie.synopsis %>
      </div>
    </div>

  </div>


  <% if @current_save_item %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
    <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
   <% else %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
  <% end %>
</div>
