<div class= "container">
  <h1>Movie showpage</h1>

  <div>
    <div>poster</div>
    <div id="movie-infos">
      <h2><%= @movie.title %></h2>
      <ul>
        <% @movie.directors.each do |director| %>
            <h4><%= director.first_name%> <%= director.last_name%></h4>
        <% end %>

        <p><%= @movie.year %> • <%= movie.category %></p>

        <% @movie.actors.each do |actor| %>
            <p><%= actor.first_name%> <%= actor.last_name%></p>
        <% end %>
      </ul>
      <h3></h3>

    </div>
  </div>


  <br>
  <%=link_to 'Back to search page', movies_path, class:"btn btn-primary mt-2"%>
  <br>
  <br>
  <h1><%= @movie.title %></h1>
  <ul>
    <% @movie.actors.each do |actor| %>
        <p><%= actor.first_name%> <%= actor.last_name%></p>
    <% end %>
    <% @movie.directors.each do |director| %>
        <p><%= director.first_name%> <%= director.last_name%></p>
    <% end %>
  </ul>

  <br>
  <%= image_tag @movie.poster%>
  <% if @current_save_item %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
    <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
   <% else %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
  <% end %>
</div>
