<div class= "container">

  <%= link_to :back do %>
    <p class="btn btn-light mt-2"> < </p>
  <% end %>

  <br>

  <div class="row">

    <div class="col-4 movie-poster-show">
      <%= image_tag @movie.poster, width: "100%" %>
    </div>

    <div id="movie-infos" class="col-8">

      <h3 class="movie-title"><%= @movie.title.upcase.truncate(18) %></h3>

        <ul class="no-bullets spacing">
          <div class="movie-d-y">
            <div id="director-name">
              <%= @movie.directors %>
            <%# @movie.directors.each do |director| %>
                <%# <p id="director-name"><%= director.first_name = director.last_name</p>  %>
            <%# end %>
            </div>
            <p id="year-category"><%= @movie.year %> • <%= @movie.category %></p>
          </div>
          <div id="casting">
            <%= @movie.actors.truncate(30) %>
          </div>
          <!-- <p id="casting"><%= @actor_list %></p> -->
        </ul>

        <% if @current_save_item %>
          <div class="ratings">
             <%@current_save_item.rating.times do %>
               <i class="fa-solid fa-star" style="color:white"></i>
             <% end %>
             <%(5-@current_save_item.rating).times do %>
               <i class="fa fa-star" style="color:#4F4F4F"></i>
             <% end %>
          </div>
        <% end %>


        <button type="button" id="more-infos-button" data-bs-toggle="modal" data-bs-target="#menuModal">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <!-- <div id="more-infos-button">
          <i class="fa-solid fa-ellipsis"></i>
        </div> -->

      </div>
      <div class="synopsis">
        <%= @movie.synopsis %>
      </div>
    </div>

    <div>
      <% @movie.cinemas.distinct.each do |cinema| %>
        <ul class="screening-infos">
          <li>
            <i class="fa-solid fa-location-dot align-self-center ps-2 pe-1" style="color: #000000;"></i>
            <%= cinema.name %>
            <div class="screening-time">
              <% temporary_screening = "" %>
              <% cinema.screening_times.where(movie: @movie).each do |screening| %>

                <% if temporary_screening != screening.date %>
                  <% if temporary_screening != "" %>
                    </div>
                    <div class="screening-time">
                  <% end %>

                  <div class="date-version">
                    <i class="fa-regular fa-calendar align-self-center pe-1"></i>
                    <%= screening.date %> - <%= screening.version %>
                  </div>

                <% end %>

                <% temporary_screening = screening.date %>

                <div class="box">
                  <%= screening.hour %>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
    </div>
  </div>

  <!--
  <% if @current_save_item %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
    <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
    <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
   <% else %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
    <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
  <% end %>
  -->

  <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="buttonLabel" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content animate-bottom">


          <% if @current_save_item %>
            <div class="modal-body">
              <div id="modal-watchlist-history">
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: false, action: "Add to watchlist", marked: false %>
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: true, action: "Add to history", marked: false %>
              </div>
              <%# <%= link_to "Get notified when in cinemas" , save_item_path(@current_save_item), data: { "turbo-method": :patch } %>

              <div id="separation"></div>

              <div id="modal-notif">
                <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Get notifications", marked: true %>
              </div>

              <div id="separation"></div>

              <%= render "shared/form_edit", movie: @movie, save_item: @current_save_item, history: @current_save_item.history, action: "Rate the movie", marked: @current_save_item.marked %>
            </div>
          <% else %>
            <div class="modal-body modal-new">
              <%= render "shared/form", movie: @movie, save_item: @save_item, history: false %>
              <%= render "shared/form", movie: @movie, save_item: @save_item, history: true %>
            </div>
          <% end %>

      </div>
    </div>
  </div>

</div>
