<%= simple_form_for(save_item) do |f| %>
  <%= f.input :history, as: :hidden, input_html: { value: history } %>

  <% if action == "Add to watchlist" %>
    <div id="modal-button">
      <%#= f.submit "Add to watchlist", class: "btn btn-primary", id: "add_watchlist"%>
      <button class= "popup-button" type="submit"><i class="fa-regular fa-eye fa-2x <%= !save_item.history ? "btn-add-to-watchlist-active" : "btn-add-to-watchlist" %>"></i></button>
      <p class="text">Add to watchlist</p>
    </div>
  <% elsif action == "Add to history" %>
    <div id="modal-button">
      <%#= f.submit "Add to history", class: "btn btn-success", id: "add_history"%>
      <button class="popup-button" type="submit"><i class="fa-regular fa-clock fa-2x <%= save_item.history ? "btn-add-to-history-active" : "btn-add-to-history" %>"></i></button>
      <p class="text">Add to history list</p>
    </div>

  <% elsif action == "Get notifications" %>
    <div id="modal-button">
      <%= f.input :marked, as: :hidden, input_html: { value: marked } %>
      <%#= f.submit "Get notifications", class: "btn btn-warning", id: "get_notifications" %>
      <button class="popup-button" type="submit"><i class="fa-solid fa-ticket fa-2x <%= save_item.marked ? "btn-add-to-notifications" : "btn-add-to-notifications-active" %>"></i></button>
      <p class="text">Get notified when in cinemas</p>
    </div>

  <% else action == "Rate the movie" %>
    <%= f.input :rating, collection: (0..5), input_html: { value: save_item.rating } %>
    <%= f.submit "Rate the movie", class: "btn btn-warning", id: "rate_movie" %>
  <% end %>
<% end %>
