<div class="navbar navbar-expand-sm navbar-light navbar-bottom-lewagon fixed-bottom mb-2">

  <div class="container-fluid px-4">

    <%= link_to root_path do %>
      <i class="fa-solid fa-house fa-lg" style="color: #FFFFFF;"></i>
    <% end %>

    <%= link_to notifications_path do %>
      <% if (!@unseen_notifications_count.nil? && @unseen_notifications_count.positive?) %>
        <i class="fa-solid fa-bell fa-lg" style="color: #FFFFFF;"></i>
        <p><%= @unseen_notifications_count %></p>
      <% else %>
        <i class="fa-solid fa-bell fa-lg" style="color: #FFFFFF;"></i>
      <% end %>
    <% end %>

    <%= link_to my_movies_path do %>
      <i class="fa-solid fa-eye fa-lg" style="color: #FFFFFF;"></i>
    <% end %>

    <%= link_to movies_path do %>
      <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #FFFFFF;"></i>
    <% end %>

  </div>
</div>
