<!DOCTYPE html>
<html>
  <head>
    <title>MotionExp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-cache-control" content="no-cache">
  </head>

  <body id="body">
    <%= render "shared/navbar_top" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar_bottom"%>
  </body>
</html>
